.box1 {
    
    background-color: red;
    border-width: 0.1rem;
    border-style: solid;
    border-color: red;
    border-radius: 0.75rem;
  }
 
  .box2 {
    
    background: green;
    border-width: 0.1rem;
    border-style: solid;
    border-color: green;
    border-radius: 0.75rem;
  }

.box3 {
    
    background: blue;
    border-width: 0.1rem;
    border-style: solid;
    border-color: blue;
    border-radius: 0.75rem;
  }

  .center {
      max-width: 68vw;
      margin: 0 auto;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }